<div class="no-questions">
  <img src="/images/noquestions.svg" alt="">
  <p>Nenhuma pergunta por aqui...</p>
  <p>Faça sua primeira pergunta e envie o código dessa sela para outras pessoas!</p>

</div>