*{
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html{
  --black:#0D114F;
  --white:#FAFAFA;
  --Red:#E83F5B;
  --light-blue:#E0ECFF;
  --blue:#3485FF;
  --background:#FBFCFF;
  --overlay:#040911;
  --icons-details:#A5B0C1;
  --dark-grey:#4D5E77;
  --blue-grey:#A1B2CD;
  --medium-grey:#EAECF2;
  --light-grey:#E5EAF1;

  /* 1rem = 16px (user agent) = 100% */
  font-size: 62.5%; /* 10px */
}

body {
  display: flex;
  overflow-x: hidden;
  height: 100vh;
  background: var(--background);

}

body, button, input, textarea {
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}


.content{
  width: 100%;
  margin: 0 auto;
}

.sr-only {
   position: absolute;
   height: 1px;
   width: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip-path: rect(0,0,0,0);
   white-space: nowrap;
   border-width: 0;
}

/* Inpunt and buttons */
input, button, .button{
  border-radius: .8rem;
  height: 5rem;

}

button, .button {
  font-family:'Poppins', sans-serif;
  font-weight: 500;
  line-height: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--blue);
  color: #FAFAFA;

  transition: filter .3s;

  cursor: pointer;
}

button:hover, .button:hover {
  filter: brightness(1.2);
}

button > img,
.button >img {
  margin-right: 1rem;
  width: 2rem;
}

button.outlined,
.button.outlined {
  background: var(--white);
  color: var(--blue);
  border: .2rem solid var(--blue);
}

button.red,
.button.red {
  background: var(--Red);
  color: #FAFAFA;
}

button.grey,
.button.grey {
  background: var(--light-grey);
  color: #4D5E77;
}



/*Header*/

.content header{
  width: 80%;
  margin: 3.5rem auto;  
}

.content header img {
  width: 16.7rem;


}

/*Dark mode toggle*/

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

label::after{
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background-color: var(--blue);
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}


#moon {
color: grey;
font-size: 3rem;
}

